<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Points</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background"></div>
    <nav>
        <div class="nav-icons">
            <a href="/shop"><img src="/static/cart.png" class="icon" /></a>
            <img src="{{ user.avatar }}" class="avatar" />
        </div>
    </nav>

    <div class="center-container">
        <div class="points">{{ points }}</div>
        <div class="profile">
            <img class="avatar-circle" src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png" />
            <h2 class="username">{{ user.username }}</h2>
        </div>
    </div>
</body>
</html>
